img.imagen{
    width: 500px;
    height: 250px;
}

iframe.web-animales{
    width: 100%;
    height: 300px;
}

dialog.dialogo{
    left: 10%;
    border-style: double;
    border-color: blue;
    border-width: 2px;
    background-color: rgba(150, 255, 220, 0.5);
}

video.video{
    width: 300px;
    height: 300px;
}

h1.animation{
    animation-name: animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    color: salmon;
}

@keyframes animation{
    for{
        transform: skewX(0deg);
    }
    to{
        transform: skewX(45deg);
    }
}